@charset "UTF-8";
@font-face {
  font-family: "Poppins-Med";
  src: url(../../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins-SemiB";
  src: url(../../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "Poppins-Reg";
  src: url(../../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-XLight";
  src: url(../../fonts/Poppins-ExtraLight.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins-Med";
}

body {
  background-color: #191919;
  max-height: 100vh;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
}

h1,
h2 {
  cursor: pointer;
  font-size: 5.653rem;
  letter-spacing: 3.37rem;
  color: #f9e492;
  text-shadow: 1px 1px 2px #fff8dc;
  font-family: "Poppins-SemiB";
  text-align: center;
}
h1 br,
h2 br {
  display: none;
}

header {
  height: 16.65vh;
  flex-wrap: wrap;
}

header,
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 30vw;
  flex-wrap: nowrap;
}
nav ul li {
  list-style: none;
  border-top: 0.25rem solid #4f76ff;
  border-bottom: 0.25rem solid #4f76ff;
  border-radius: 10%;
  text-align: center;
  transition: all 0.5s ease;
}
nav ul li:hover {
  border-top: 0.25rem solid #f9e492;
  border-bottom: 0.25rem solid #f9e492;
}

nav a {
  color: #f9e492;
  font-size: 1.999rem;
  letter-spacing: 1.15rem;
  text-decoration: none;
  transition: all 0.25s ease;
}
nav a:hover {
  color: #4f76ff;
  letter-spacing: 1.2rem;
}

#sign-up-sign-up-b {
  color: #4f76ff;
}

input {
  font-size: 2.1rem;
  color: #191919;
  padding-left: 0.5rem;
}

#submit-login,
#submit-sign-up {
  transition: 0.5s all ease;
}

#submit-login:hover,
#submit-sign-up:hover {
  background-color: #1c4eff;
  color: #f6d862;
}

#start {
  contain: content;
}

.list-design-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0 auto 14rem;
  padding: 0 0 10rem 0;
}

.yellow-block-wrap {
  min-width: 60vw;
}

.yellow-block {
  width: 90%;
  background-color: #f9e492;
  height: 2.25vh;
  border-radius: 1rem;
  margin: 1.5rem;
  padding: 1rem;
  flex-shrink: 2;
}

.cheker-block {
  height: 1.9rem;
  width: 3.9rem;
  border-radius: 1rem;
  margin: 1.5rem;
  background-color: #7afb87;
}
.cheker-block:nth-child(4), .cheker-block:nth-child(6) {
  background-color: #fb7a82;
}

.list-design-wrap {
  pointer-events: none;
}

#sign-up {
  display: flex;
}

section:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section:nth-child(2) li:nth-child(2) {
  border-top: 0.25rem solid #f9e492;
  border-bottom: 0.25rem solid #f9e492;
}
section:nth-child(2) form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-grow: 2;
  color: #f9e492;
  font-size: 1.9rem;
}
section:nth-child(2) .text-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  flex-grow: 1;
  padding: 10rem;
}

.sign-up-form {
  width: 75%;
}
.sign-up-form .name-form,
.sign-up-form .email-form,
.sign-up-form .password-form {
  font-family: "Poppins-Reg", sans-serif;
  letter-spacing: 0.3rem;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.sign-up-form input {
  flex: 1 1 20rem;
  background-color: #fff8dc;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  width: 100%;
}
.sign-up-form label {
  flex: 1 1 20rem;
}
.sign-up-form button {
  font-family: "Poppins-med";
  height: 10rem;
  font-size: 2.8rem;
  letter-spacing: 0.3rem;
  width: 20rem;
  border-radius: 1rem;
  background-color: #4f76ff;
  color: #f9e492;
  border: none;
  cursor: pointer;
}

.submit-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  font-family: "Poppins-Reg", sans-serif;
  height: 100%;
}

.submit-wrap {
  height: 6rem;
  margin-top: 2rem;
}

#terms {
  height: 1.5rem;
}

#login {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#login nav ul li:nth-child(1) {
  border-top: 0.25rem solid #f9e492;
  border-bottom: 0.25rem solid #f9e492;
}
#login nav ul li:nth-child(1) a {
  color: #4f76ff;
}
#login form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-grow: 2;
  color: #f9e492;
  font-size: 1.9rem;
}
#login .text-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  flex-grow: 1;
  padding: 10rem;
}

.email-form {
  position: relative;
}

#warning {
  position: absolute;
  right: 24px;
  display: inline-block;
  display: none;
}

#error-message {
  font-size: 1rem;
  position: absolute;
  bottom: -24px;
  right: 0;
  padding: 2rem;
  color: #f73e42;
  letter-spacing: 0.2rem;
  display: none;
}

form + p {
  color: #4f76ff;
  margin-bottom: 2rem;
  border: 1px solid #4f76ff;
  padding: 1.5rem;
  opacity: 0.7;
  border-radius: 1rem;
}

#lobby {
  justify-content: flex-start;
}

.lobby-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-lobby {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 5rem;
  margin: 5rem 0 0 2rem;
}
.top-lobby h2 {
  font-size: 3.998rem;
  letter-spacing: 2.7rem;
  font-family: "Poppins-Reg", sans-serif;
  flex: 0 1 auto;
  margin-right: 5rem;
}
.top-lobby #green-block {
  border: none;
  height: 4rem;
  min-width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #7afb87;
  border-radius: 1rem;
  flex: 1 2 auto;
  max-width: 7rem;
  cursor: pointer;
  box-shadow: 1px 1px 2px #48fa5a, 2px 2px 2px -6px #000;
}
.top-lobby #green-block:hover {
  background: #48fa5a;
}
.top-lobby #green-block:focus {
  border: solid 2px #4f76ff;
}
.top-lobby #green-block img {
  pointer-events: none;
}

#save-myTodo-lists {
  border: none;
  height: 4rem;
  min-width: 8rem;
  background-color: #3662ff;
  border-radius: 1rem;
  color: #fff8dc;
  font-family: "Poppins-Reg";
  text-shadow: 1px 1px 2px #191919;
  margin-left: 1rem;
  font-size: 1.7rem;
  letter-spacing: 0.35rem;
  cursor: pointer;
}

.bottom-lobby {
  height: 100%;
  padding: 10rem;
}
.bottom-lobby h3 {
  font-size: 2.827rem;
  color: #f9e492;
  letter-spacing: 2.1rem;
}
.bottom-lobby hr {
  color: #fff8dc;
  opacity: 0.2;
  margin-top: 0.2rem;
  box-shadow: 1px 1px 2px #fff8dc;
}
.bottom-lobby #my-lists p {
  color: #fff8dc;
  font-size: 1.999rem;
  font-family: "Poppins-XLight";
}
.bottom-lobby #my-lists p span {
  margin: 0 2rem;
}
.bottom-lobby #my-lists {
  height: 100%;
  margin-top: 5rem;
  padding: 5rem;
}

.lobby-header {
  flex-direction: column;
  flex-direction: row;
  padding: 3rem;
}
.lobby-header nav {
  align-items: flex-start;
}

.lobby-nav ul {
  height: 0;
}

.display-none {
  display: none;
}

#todo {
  min-height: auto;
  /*CUSTOM SELECTOR */
  /* Custom Select */
  /* Arrow */
}
#todo header,
#todo form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
#todo form input,
#todo form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #fffdf6;
}
#todo form button {
  color: #4f76ff;
  background: #191919;
  border: 0.5px solid rgba(77, 115, 255, 0.2);
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.3s;
}
#todo form button:hover {
  color: #7afb87;
}
#todo .todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#todo .todo-list {
  min-width: 30%;
  list-style: none;
}
#todo .todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}
#todo .todo li {
  flex: 1;
}
#todo .trash-btn,
#todo .complete-btn {
  background: #fa555f;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
#todo .complete-btn {
  background: #55fa65;
}
#todo .todo-item {
  padding: 0rem 0.5rem;
}
#todo .fa-trash,
#todo .fa-check {
  pointer-events: none;
  cursor: pointer;
}
#todo .completed {
  text-decoration: line-through;
  opacity: 0.5;
}
#todo .fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
#todo select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}
#todo .select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
#todo select {
  color: #fb7a82;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
  padding: 0.5rem;
}
#todo .select::after {
  content: "▼";
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 1rem;
  background: #4f76ff;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
#todo .select:hover::after {
  background: white;
  color: #fb7a82;
}

#todo header {
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.todo-nav {
  order: 1;
}

#todo-save {
  align-items: flex-start;
}

.todo-saved-item {
  font-size: 1.999rem;
  color: #191919;
  margin-left: 4rem;
}

.new-todo-div {
  background: #fff8dc;
  height: 20vh;
  overflow: auto;
  border-radius: 0.5rem;
  margin: 2rem;
  transition: 0.5s all ease-in 0.25s;
}

#my-lists {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

h4 {
  font-size: 2.827rem;
  padding: 0.5rem;
  color: #191919;
  letter-spacing: 0.4rem;
  text-transform: capitalize;
}
h4::after {
  content: ":";
}

.cursor-black {
  transform: rotate(180deg) translateY(-20%);
}

.mouseover:hover {
  transform: scale(1.35);
  cursor: pointer;
  background: #fff3c3;
}

@media screen and (max-width: 1120px) {
  header {
    padding: 2rem;
    height: 100%;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  header nav {
    flex-direction: column;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  ul li {
    margin: 2rem;
  }

  .list-design-wrap {
    position: absolute;
    top: 128px;
    left: 100px;
  }

  .yellow-block-wrap,
.cheker-block-wrap {
    flex: 2 1 50vw;
  }

  .yellow-block-wrap {
    min-width: 52vw;
  }

  .cheker-block {
    height: 1.95rem;
    width: 12%;
  }

  .cheker-block-wrap {
    min-width: 20vw;
  }
}
@media screen and (max-width: 874px) {
  h1 {
    font-size: 3.2rem;
    letter-spacing: 1.385;
  }
  h1 br {
    display: inline;
  }

  .list-design-wrap {
    left: 65px;
  }
}
@media screen and (max-width: 473px) {
  h1 {
    font-size: 2.8rem;
    letter-spacing: 1.185rem;
  }

  .list-design-wrap {
    left: 55px;
  }
}
@media screen and (max-width: 1082px) {
  html {
    font-size: 50%;
  }

  body {
    contain: unset;
  }

  #sign-up form {
    flex-direction: column;
  }

  #sign-up .text-wrap {
    width: 100%;
  }

  .submit-container {
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 5rem;
    width: 45vw;
  }
}
@media screen and (max-width: 872px) {
  html {
    font-size: 45%;
  }

  #sign-up > form:nth-child(2) {
    flex-wrap: wrap;
  }

  .sign-up-form .name-form,
.sign-up-form .email-form,
.sign-up-form .password-form {
    display: block;
    text-align: left;
  }

  #sign-up {
    justify-content: stretch;
  }
  #sign-up .text-wrap {
    padding: 0;
    margin-bottom: 5rem;
    max-width: 90%;
  }
  #sign-up .submit-container {
    flex-direction: column;
    width: 58vw;
  }

  #sign-up form {
    flex-grow: 0;
  }

  .sign-up-form > button:nth-child(2) {
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 1082px) {
  .login-form > button:nth-child(2) {
    margin-bottom: 8rem;
  }

  #login form {
    flex-direction: column;
  }
  #login form .text-wrap {
    width: 100%;
  }

  .sign-up-form .name-form,
.sign-up-form .email-form,
.sign-up-form .password-form {
    width: 100%;
    width: 90%;
  }
}
@media screen and (max-width: 872px) {
  #login .text-wrap {
    padding: 0;
  }
}
@media screen and (max-width: 1254px) {
  #my-lists p span {
    margin: 0rem 2rem;
  }

  .display-none {
    display: block;
  }
}
@media screen and (max-width: 790px) {
  .top-lobby {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .top-lobby button {
    margin: 1rem;
  }
  .top-lobby h2 {
    margin: 0;
  }
}
@media screen and (max-width: 289px) {
  .todo-button {
    position: absolute;
    top: 4.4px;
    right: 0;
  }

  body > form:nth-child(2) {
    position: relative;
  }
}
@media screen and (max-width: 1120px) {
  .todo-nav ul {
    justify-content: center;
    justify-content: flex-start;
    height: auto;
    width: auto;
  }

  #todo .trash-btn,
#todo .complete-btn {
    padding: 1.42rem;
  }
}
@media screen and (max-width: 610px) {
  .todo-nav {
    order: 0;
  }
}
#login,
#sign-up,
#lobby,
#todo {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
