#account-settings {
  display: flex;
}
#account-terms {
  height: 1.5rem;
}

#account-settings {
  flex-direction: column;
}

section {
  justify-content: space-between;
  align-content: center;
}
#account-submit-sign-up {
  height: 10rem;
  width: 20rem;
  height: 5rem;
  width: 10rem;
}

#account-settings > form:nth-child(2) > div:nth-child(2) {
  display: flex;
  align-items: flex-end;
}
#account-settings > form:nth-child(2) {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#account-settings > form:nth-child(2) > div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
#account-submit-sign-up {
  height: 10rem;
  width: 20rem;
  height: 6rem;
  width: 10rem;
}
#account-form label {
  font-size: $nav;
  color: $yellow;
}
#account-form > div:nth-child(2) {
  padding-top: 0.2rem;
}
#account-ul {
  flex-direction: row;
}

@media screen and (max-width: 868px) {
  #account-settings > header:nth-child(1) > nav:nth-child(2) > ul:nth-child(1) {
    flex-direction: revert;
  }
  #account-form > div:nth-child(1) {
    margin: 0 auto;
  }
  #account-form {
    margin: 0 auto;
  }
}
