@font-face {
  font-family: "Poppins-Med";
  src: url(../../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins-SemiB";
  src: url(../../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "Poppins-Reg";
  src: url(../../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-XLight";
  src: url(../../fonts/Poppins-ExtraLight.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins-Med";
}
body {
  background-color: $black;
  max-height: 100vh;
  // contain: content;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
}

h1,
h2 {
  cursor: pointer;
  font-size: $h1;
  letter-spacing: 3.37rem;
  color: $yellow;
  text-shadow: $titleShadow;
  font-family: "Poppins-SemiB";
  text-align: center;
  br {
    display: none;
  }
}
header {
  height: 16.65vh;
  flex-wrap: wrap;
}
header,
nav {
  @include flex(space-around, center, row);
}
nav ul {
  @include flex(space-around, center, row);
  width: 30vw;
  flex-wrap: nowrap;
  li {
    list-style: none;
    border-top: 0.25rem solid $blue;
    border-bottom: 0.25rem solid $blue;
    border-radius: 10%;
    text-align: center;
    transition: all 0.5s ease;
    &:hover {
      border-top: 0.25rem solid $yellow;
      border-bottom: 0.25rem solid $yellow;
    }
  }
}
nav a {
  color: $yellow;
  font-size: $nav;
  letter-spacing: 1.15rem;
  text-decoration: none;
  transition: all 0.25s ease;
  &:hover {
    color: $blue;
    letter-spacing: 1.2rem;
  }
}
#sign-up-sign-up-b {
  color: $blue;
}
input {
  font-size: 2.1rem;
  color: $black;
  padding-left: 0.5rem;
}
#submit-login,
#submit-sign-up {
  transition: 0.5s all ease;
}
#submit-login:hover,
#submit-sign-up:hover {
  background-color: darken($blue, 10%);
  color: darken($yellow, 10%);
}
