#lobby {
  justify-content: flex-start;
}
.lobby-container {
  height: 100vh;
  @include flex(center, center, column);
}
.top-lobby {
  @include flex(flex-start, center, row);
  padding: 5rem;
  margin: 5rem 0 0 2rem;
  h2 {
    font-size: $h2;
    letter-spacing: 2.7rem;
    font-family: "Poppins-Reg", sans-serif;
    flex: 0 1 auto;
    margin-right: 5rem;
  }
  #green-block {
    border: none;
    height: 4rem;
    min-width: 8rem;
    @include flex(center, center, row);
    background-color: $green;
    border-radius: 1rem;
    flex: 1 2 auto;
    max-width: 7rem;
    cursor: pointer;
    box-shadow: 1px 1px 2px darken($green, 10%), 2px 2px 2px -6px #000;
    &:hover {
      background: darken($green, 20%);
    }
    &:focus {
      border: solid 2px $blue;
    }
    &:active {
      background: lighten($green, 3.5%);
    }
    img {
      pointer-events: none;
    }
  }
}
#save-myTodo-lists {
  border: none;
  height: 4rem;
  min-width: 8rem;
  background-color: darken($blue, 5%);
  border-radius: 1rem;
  color: $lightYellow;
  font-family: "Poppins-Reg";
  text-shadow: 1px 1px 2px #191919;
  margin-left: 1rem;
  font-size: 1.7rem;
  letter-spacing: 0.35rem;
  cursor: pointer;
  &:hover {
    background-color: darken($blue, 10%);
    color: darken($lightYellow, 10%);
    text-shadow: 1px 1px 2px darken($black, 10%);
  }
  &:active {
    background-color: lighten($green, 12%);
    color: lighten($lightYellow, 25%);
    text-shadow: 1px 1px 2px lighten($black, 25%);
  }
}

.bottom-lobby {
  height: 100%;
  padding: 10rem;
  h3 {
    font-size: $h3;
    color: $yellow;
    letter-spacing: 2.1rem;
  }
  hr {
    color: $lightYellow;
    opacity: 0.2;
    margin-top: 0.2rem;
    box-shadow: 1px 1px 2px $lightYellow;
  }
  #my-lists p {
    color: $lightYellow;
    font-size: $nav;
    font-family: "Poppins-XLight";
    span {
      margin: 0 2rem;
    }
  }
  #my-lists {
    height: 100%;
    margin-top: 5rem;
    padding: 5rem;
  }
}

.lobby-header {
  flex-direction: column;
  flex-direction: row;
  padding: 3rem;
  & nav {
    align-items: flex-start;
  }
}
.lobby-nav ul {
  height: 100%;
}
.display-none {
  display: none;
}
.lobby-header > h1:nth-child(1) {
  flex: 2 1 auto;
}
.fa-undo-alt::before,
.fa-sign-out-alt::before {
  padding: 1rem;
  padding-left: 1.8rem;
}
.fa-cogs::before {
  padding: 1rem;
  padding-left: 1.7rem;
}
