.todo-saved-item {
  font-size: $nav;
  color: $black;
  //   list-style: upper-roman;
  margin-left: 4rem;
}
.new-todo-div {
  background: $lightYellow;
  height: 20vh;
  width: 30vw;
  overflow: auto;
  border-radius: 0.5rem;
}
#my-lists {
  @include flex(flex-start, center, row);
}
h4 {
  font-size: $h3;
  padding: 0.5rem;
  color: $black;
  letter-spacing: 0.4rem;
  text-transform: capitalize;
  &::after {
    content: ":";
  }
}
