#todo {
  min-height: auto;
  header,
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }
  form input,
  form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: lighten($lightYellow, 5%);
  }
  form button {
    color: $blue;
    background: $black;
    border: 0.5px solid rgba(77, 115, 255, 0.2);
    border-radius: 10%;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: $green;
    }
  }
  .todo-container {
    @include flex(center, center, row);
  }
  .todo-list {
    min-width: 30%;
    list-style: none;
  }
  .todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    li {
      flex: 1;
    }
  }
  .trash-btn,
  .complete-btn {
    background: darken($red, 7.5%);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
  }
  .complete-btn {
    background: darken($green, 7.5%);
  }
  .todo-item {
    padding: 0rem 0.5rem;
  }
  .fa-trash,
  .fa-check {
    pointer-events: none;
    cursor: pointer;
  }
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }

  .fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
  }

  /*CUSTOM SELECTOR */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
  }

  /* Custom Select */
  .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  select {
    color: $red;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
    padding: 0.5rem;
  }
  /* Arrow */
  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 1rem;
    background: $blue;
    cursor: pointer;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }

  .select:hover::after {
    background: white;
    color: $red;
  }
}

#todo header {
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.todo-nav {
  order: 1;
}
#todo-save {
  align-items: flex-start;
  // margin-bottom: -40px;
}
