// !Variables
$yellow: #f9e492;
$lightYellow: #fff8dc;
$blue: #4f76ff;
$red: #fb7a82;
$green: #7afb87;
$black: #191919;
$error: #f73e42;
$titleShadow: 1px 1px 2px $lightYellow;
$h1: 5.653rem;
$h2: 3.998rem;
$h3: 2.827rem;
$nav: 1.999rem;
// ! Mixins

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
// ! IMPORT CSS FILES
@import "global";
@import "start";
@import "sign-up";
@import "login";
@import "lobby";
@import "todo";
@import "newList";

// ! Media
// * =================  START ================ * //
@media screen and (max-width: 1120px) {
  header {
    padding: 2rem;
    height: 100%;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    nav {
      flex-direction: column;
    }
  }
  nav ul {
    @include flex(center, center, column);
  }
  ul li {
    margin: 2rem;
  }
  .list-design-wrap {
    position: absolute;
    top: 128px;
    left: 100px;
  }
  .yellow-block-wrap,
  .cheker-block-wrap {
    flex: 2 1 50vw;
  }
  .yellow-block-wrap {
    min-width: 52vw;
  }
  .cheker-block {
    height: 1.95rem;
    width: 12%;
  }
  .cheker-block-wrap {
    min-width: 20vw;
  }
}
@media screen and (max-width: 874px) {
  h1 {
    font-size: 3.2rem;
    letter-spacing: 1.385;
    br {
      display: inline;
    }
  }
  .list-design-wrap {
    left: 65px;
  }
}
@media screen and (max-width: 473px) {
  h1 {
    font-size: 2.8rem;
    letter-spacing: 1.185rem;
  }
  .list-design-wrap {
    left: 55px;
  }
}
// * =================  SIGN-UP ================ * //
@media screen and (max-width: 1082px) {
  html {
    font-size: 50%;
  }
  body {
    contain: unset;
  }
  #sign-up form {
    flex-direction: column;
  }
  #sign-up .text-wrap {
    width: 100%;
  }
  .submit-container {
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 5rem;
    width: 45vw;
  }
}
@media screen and (max-width: 872px) {
  html {
    font-size: 45%;
  }

  #sign-up > form:nth-child(2) {
    flex-wrap: wrap;
  }
  .sign-up-form .name-form,
  .sign-up-form .email-form,
  .sign-up-form .password-form {
    display: block;
    text-align: left;
  }
  // ! fix this after build
  #sign-up {
    justify-content: stretch;
    .text-wrap {
      padding: 0;
      margin-bottom: 5rem;
      max-width: 90%;
    }
    .submit-container {
      flex-direction: column;
      width: 58vw;
    }
  }
  #sign-up form {
    flex-grow: 0;
  }

  .sign-up-form > button:nth-child(2) {
    margin-bottom: 2.5rem;
  }
}
// * =================  LOGIN ================ * //

@media screen and (max-width: 1082px) {
  .login-form > button:nth-child(2) {
    margin-bottom: 8rem;
  }
  #login form {
    flex-direction: column;
    .text-wrap {
      width: 100%;
    }
  }
  .sign-up-form .name-form,
  .sign-up-form .email-form,
  .sign-up-form .password-form {
    width: 100%;
    width: 90%;
  }
}
@media screen and (max-width: 872px) {
  #login .text-wrap {
    padding: 0;
  }
}

// * LOBBY
@media screen and (max-width: 1254px) {
  #my-lists p {
    span {
      margin: 0rem 2rem;
    }
  }
  .display-none {
    display: block;
  }
}
@media screen and (max-width: 790px) {
  .top-lobby {
    @include flex(flex-start, center, column);
    button {
      margin: 1rem;
    }
    h2 {
      margin: 0;
    }
  }
}
// * TODO
@media screen and (max-width: 289px) {
  .todo-button {
    position: absolute;
    top: 4.4px;
    right: 0;
  }
  body > form:nth-child(2) {
    position: relative;
  }
}

@media screen and (max-width: 1120px) {
  .todo-nav ul {
    justify-content: center;
    justify-content: flex-start;
    height: auto;
    width: auto;
  }

  #todo .trash-btn,
  #todo .complete-btn {
    padding: 1.42rem;
  }
}
@media screen and (max-width: 610px) {
  .todo-nav {
    order: 0;
  }
}
#login,
#sign-up,
#lobby,
#todo {
  display: none;
}
